services:
  mongo:
    image: mongo:7
    container_name: techpulse-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  server:
    build:
      context: .
      dockerfile: docker/Dockerfile.server
    container_name: techpulse-server
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/techpulse
      - JWT_SECRET=techpulse_dev_secret_key_2026
      - JWT_EXPIRE=7d
    depends_on:
      - mongo
    volumes:
      - ./server:/app
      - /app/node_modules

  client:
    build:
      context: .
      dockerfile: docker/Dockerfile.client
    container_name: techpulse-client
    ports:
      - "5173:5173"
    depends_on:
      - server
    volumes:
      - ./client:/app
      - /app/node_modules

volumes:
  mongo-data: